{% load static %}

<section class="home" id="home">
    <div class="content">
        <h3>Fresh Flower</h3>
        <span>natural & beautiful flower</span>
        <p>A flower, sometimes known as a bloom or blossom, is the reproductive structure found in flowering plants (plants of the division Angiospermae). Flowers produce gametophytes, which in flowering plants consist of a few haploid cells which produce gametes.</p>
        <a href="#" class="btn" > shop now</a>
    </div>
</section>