{% load static %}

<section class="icons-con">
    <div class="icons">
        <img src={% static 'icons8-flower-48.png' %} alt="">
        <div class="info">
            <h3>free delivery</h3>
            <span>on all order</span>
        </div>
    </div>
    <div class="icons">
        <img src={% static 'icons8-spa-flower-48.png' %} alt="">
        <div class="info">
            <h3>10 days returns</h3>
            <span>moneyback garantee</span>
        </div>
    </div>
    <div class="icons">
        <img src={% static 'icons8-flower-48.png' %} alt="">
        <div class="info">
            <h3>free delivery</h3>
            <span>on all order</span>
        </div>
    </div>
    <div class="icons">
        <img src={% static 'icons8-spa-flower-48.png' %} alt="">
        <div class="info">
            <h3>free delivery</h3>
            <span>on all order</span>
        </div>
    </div>
</section>